{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}}) ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a python developer. I can design web apps and websites. I even have the knowledge of c and cpp.
        I had done an online internship at experts hub in IOT where we created a app for farmers.
          I had even done some courses related to python, html and css and iot.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}